.container {
    
    max-width:600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 8px;
}

.kartya {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.kartya h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.kartya img {
    max-width: 100%;
    border-radius: 4px;
}

.kartya button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.kartya button:hover {
    background-color: #ff1a1a;
}

@keyframes myAnimation {
  from {background-color: rgb(0, 0, 0);}
  to {background-color: rgb(255, 255, 255);}
}

.card{
    background-color: #f9f9f9;
    padding: 5px;
    margin-right: 40px;
    margin-left: 40px;
    width: 15%;
    border: black 1px solid;
    margin-top: 25px;
    animation-name: myAnimation;
    animation-duration: 4s;
    background-color: white;
    border-radius: 8px;
    

}
body{
    background-image: url(https://wallpapers.com/images/high/poster-background-hlybuowt1whxbh2z.webp);
    margin: 0;
    padding: 0;
    background-position: center; 
}